/* Tag */

.tag {
    border-radius: _size(border-radius);
    border: 0;
    display: inline-block;
    padding: 0.1rem 1.2rem;
    margin: 0.25rem 0.55rem;
    background-color: #4d4c4c;
    font-size: medium;

    // &.tagEnd {
    //     margin: 0 1rem;
    // }

    // &.styleOne {
    //     margin: 0 1rem;
    // }

    // @include breakpoint(small) {
    //     &.mobileResTag {
    //         margin: (_size(element-margin) * 1) 0;
    //     }
    // }

    // @include breakpoint(xsmall) {
    //     &.mobileResTag {
    //         margin: (_size(element-margin) * 0.75) 0;
    //     }
    // }
}